<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet">
    <title>CRUD MANY to MANY</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <div class="container">
        <h2>Edit Penonton</h2>
    </div>
    <div class="container">
       <form th:action="@{/update}" th:object="${penontons}" method="post" >
            <label>Name</label>
            <input type="text" class="form-control" th:field="*{name}">
            <br>
            <label>Pembayaran</label>
            <br>
            <input type="radio" name="fav_language" value="Cash" th:field="*{pembayaran}">
            <label for="Cash">Cash</label><br>
            <input type="radio" name="fav_language" value="Atm" th:field="*{pembayaran}">
            <label for="Atm">Atm</label><br>
            <br>
            <div class="form-group-row">
                <label class="col-form-label col-sm-4">Film List</label>
            <div class="col-sm-8 text-left">
                <th:block th:each="film : ${listFilm}" >
                <div>
                    <input  type="checkbox"  th:text="${film.title}" th:value="${film.id}" th:field="*{films}" class="m-2">
                </div>
                </th:block>
            </div>
            </div>
            
            <br>
            <input type="hidden" th:field="*{id}">
            <input type="submit" class="btn btn-primary">
       </form>
    </div>
    <br>
    
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>