<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css"  type="text/css" rel="stylesheet">
    <title>CRUD MANY to MANY</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <h1>
        CRUD MANY to MANY
    </h1>
    <div class="container">
        <h2>Table Penonton</h2>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>nama</th>
                    <th>pembayaran</th>
                    <th>Films</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="penonton : ${penontons}">
                    <td th:text="${penonton.id}"></td>
                    <td th:text="${penonton.name}"></td>
                    <td th:text="${penonton.pembayaran}"></td>
                    <td th:text="${penonton.films}"></td>
                    <td>
                        <a class="btn btn-danger"th:href="@{'/delete/'+${penonton.id}}">Delete</a>
                        <a class="btn btn-primary"th:href="@{'/update/'+${penonton.id}}">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <a class="btn btn-primary" th:href="@{/add}">Add Penonton</a>
    </div>
    <br>
    <br>
    <div class="container">
        <h2>Table Film</h2>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>title</th>
                    <th>harga</th>
                    <th>tanggal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="film : ${films}">
                    <td th:text="${film.id}"></td>
                    <td th:text="${film.title}"></td>
                    <td th:text="${film.harga}"></td>
                    <td th:text="${film.tanggal}"></td>
                    <td>
                        <a class="btn btn-danger"th:href="@{'/deleteFilm/'+${film.id}}">Delete</a>
                        <a class="btn btn-primary"th:href="@{'/updateFilm/'+${film.id}}">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <a class="btn btn-primary" th:href="@{/addFilm}">Add Film</a>
    </div>
    <br>
    <br>
    
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>